LameDuck/src/conf/xml-resources/web-services/LameDuckWebService/wsdl/LameDuck.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="LameDuck" targetNamespace="http://LameDuck.ws"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://LameDuck.ws"
    xmlns:ld="urn:LameDuckSchema"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <types>
        <xsd:schema targetNamespace="http://LameDuck.ws">
            <xsd:import namespace="urn:LameDuckSchema" schemaLocation="LameDuckSchema.xsd" />
        </xsd:schema>
    </types>
    <message name="getFlightsRequest">
        <part name="getFlightsInput" element="ld:getFlightsRequest"/>
    </message>
    <message name="getFlightsResponse">
        <part name="getFlightsOutput" element="ld:getFlightsResponse"/>
    </message>
    <message name="bookFlightInput">
        <part name="bookFlightRequest" element="ld:bookFlightRequest"/>
    </message>
    <message name="bookFlightOutput">
        <part name="bookFlightResponse" element="ld:bookFlightResponse"/>
    </message>
    <message name="bookFlightFault">
        <part name="bookFlightFault" element="ld:FlightFault"/>
    </message>
    <message name="cancelFlightInput">
        <part name="cancelFlightRequest" element="ld:cancelFlightRequest"/>
    </message>
    <message name="cancelFlightOutput">
        <part name="cancelFlightResponse" element="ld:cancelFlightResponse"/>
    </message>
    <message name="cancelFlightFault">
        <part name="cancelFlightFault" element="ld:FlightFault"/>
    </message>
    <message name="resetFlightsInput">
        <part name="resetFlightsRequest" element="ld:resetFlightsRequest"/>
    </message>
    <message name="resetFlightsOutput">
        <part name="resetFlightsResponse" element="ld:resetFlightsResponse"/>
    </message>
    <portType name="LameDuckPortType">
        <operation name="getFlights">
            <input name="input1" message="tns:getFlightsRequest"/>
            <output name="output1" message="tns:getFlightsResponse"/>
        </operation>
        <operation name="bookFlight">
            <input name="input2" message="tns:bookFlightInput"/>
            <output name="output2" message="tns:bookFlightOutput"/>
            <fault name="fault1" message="tns:bookFlightFault"/>
        </operation>
        <operation name="cancelFlight">
            <input name="input3" message="tns:cancelFlightInput"/>
            <output name="output3" message="tns:cancelFlightOutput"/>
            <fault name="fault1" message="tns:cancelFlightFault"/>
        </operation>
        <operation name="resetFlights">
            <input name="input4" message="tns:resetFlightsInput"/>
            <output name="output4" message="tns:resetFlightsOutput"/>
        </operation>
    </portType>
    <binding name="LameDuckPortTypeBinding" type="tns:LameDuckPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getFlights">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal"/>
            </input>
            <output name="output1">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="bookFlight">
            <soap:operation/>
            <input name="input2">
                <soap:body use="literal"/>
            </input>
            <output name="output2">
                <soap:body use="literal"/>
            </output>
            <fault name="fault1">
                <soap:fault name="fault1" use="literal"/>
            </fault>
        </operation>
        <operation name="cancelFlight">
            <soap:operation/>
            <input name="input3">
                <soap:body use="literal"/>
            </input>
            <output name="output3">
                <soap:body use="literal"/>
            </output>
            <fault name="fault1">
                <soap:fault name="fault1" use="literal"/>
            </fault>
        </operation>
        <operation name="resetFlights">
            <soap:operation/>
            <input name="input4">
                <soap:body use="literal"/>
            </input>
            <output name="output4">
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="LameDuckService">
        <port name="LameDuckPortTypeBindingPort" binding="tns:LameDuckPortTypeBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/service"/>
        </port>
    </service>
</definitions>
