TravelGoodBPEL/src/TravelGoodBPEL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="TravelGoodBPEL" targetNamespace="TravelGoodBPEL.ws"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:tns="TravelGoodBPEL.ws" 
    xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
    xmlns:tv="TravelGoodSchema.ws" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop">    
    <types>
        <xsd:schema targetNamespace="TravelGoodBPEL.ws">
            <xsd:import schemaLocation="TravelGoodSchema.xsd" namespace="TravelGoodSchema.ws"/>
        </xsd:schema>
    </types>
    <message name="createItineraryRequest">
        <part name="part1" element="tv:createItineraryRequest"/>
    </message>
    <message name="createItineraryResponse">
        <part name="part1" element="tv:createItineraryResponse"/>
    </message>
    <message name="getItineraryRequest">
        <part name="part1" element="tv:getItineraryRequest"/>
    </message>
    <message name="getItineraryResponse">
        <part name="part1" element="tv:getItineraryResponse"/>
    </message>
    <message name="cancelItineraryRequest">
        <part name="part1" element="tv:cancelItineraryRequest"/>
    </message>
    <message name="cancelItineraryResponse">
        <part name="part1" element="tv:cancelItineraryResponse"/>
    </message>
    <message name="cancelItineraryFault">
        <part name="fault" element="tv:cancelItineraryFault"/>
    </message>
    <message name="bookItineraryRequest">
        <part name="part1" element="tv:bookItineraryRequest"/>
    </message>
    <message name="bookItineraryResponse">
        <part name="part1" element="tv:bookItineraryResponse"/>
    </message>
    <message name="bookItineraryFault">
        <part name="fault" element="tv:bookItineraryFault"/>
    </message>
    <message name="cancelBookingRequest">
        <part name="part1" element="tv:cancelBookingRequest"/>
    </message>
    <message name="cancelBookingResponse">
        <part name="part1" element="tv:cancelBookingResponse"/>
    </message>
    <message name="cancelBookingFault">
        <part name="fault" element="tv:cancelBookingFault"/>
    </message>
    <message name="addItineraryFlightRequest">
        <part name="part1" element="tv:addItineraryFlightRequest"/>
    </message>
    <message name="addItineraryFlightResponse">
        <part name="part1" element="tv:addItineraryFlightResponse"/>
    </message>
    <message name="addItineraryHotelRequest">
        <part name="part1" element="tv:addItineraryHotelRequest"/>
    </message>
    <message name="addItineraryHotelResponse">
        <part name="part1" element="tv:addItineraryHotelResponse"/>
    </message>
    <message name="getHotelsRequest">
        <part name="part1" element="tv:getHotelsRequest"/>
    </message>
    <message name="getHotelsResponse">
        <part name="part1" element="tv:getHotelsResponse"/>
    </message>
    <message name="getFlightsRequest">
        <part name="part1" element="tv:getFlightsRequest"/>
    </message>
    <message name="getFlightResponse">
        <part name="part1" element="tv:getFlightsResponse"/>
    </message>
    <portType name="TravelGoodBPELPortType">
        <operation name="createItinerary">
            <input name="input1" message="tns:createItineraryRequest"/>
            <output name="output1" message="tns:createItineraryResponse"/>
        </operation>
        <operation name="getItinerary">
            <input name="input2" message="tns:getItineraryRequest"/>
            <output name="output2" message="tns:getItineraryResponse"/>
        </operation>
        <operation name="cancelItinerary">
            <input name="input3" message="tns:cancelItineraryRequest"/>
            <output name="output3" message="tns:cancelItineraryResponse"/>
            <fault name="fault1" message="tns:cancelItineraryFault"/>
        </operation>
        <operation name="bookItinerary">
            <input name="input4" message="tns:bookItineraryRequest"/>
            <output name="output4" message="tns:bookItineraryResponse"/>
            <fault name="fault1" message="tns:bookItineraryFault"/>
        </operation>
        <operation name="cancelBooking">
            <input name="input5" message="tns:cancelBookingRequest"/>
            <output name="output5" message="tns:cancelBookingResponse"/>
            <fault name="fault1" message="tns:cancelBookingFault"/>
        </operation>
        <operation name="addItineraryFlight">
            <input name="input6" message="tns:addItineraryFlightRequest"/>
            <output name="output6" message="tns:addItineraryFlightResponse"/>
        </operation>
        <operation name="addItineraryHotel">
            <input name="input7" message="tns:addItineraryHotelRequest"/>
            <output name="output7" message="tns:addItineraryHotelResponse"/>
        </operation>
        <operation name="getHotels">
            <input name="input8" message="tns:getHotelsRequest"/>
            <output name="output8" message="tns:getHotelsResponse"/>
        </operation>
        <operation name="getFlights">
            <input name="input9" message="tns:getFlightsRequest"/>
            <output name="output9" message="tns:getFlightResponse"/>
        </operation>
    </portType>
    <binding name="TravelGoodBPELPortTypeBinding" type="tns:TravelGoodBPELPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="createItinerary">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal"/>
            </input>
            <output name="output1">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getItinerary">
            <soap:operation/>
            <input name="input2">
                <soap:body use="literal"/>
            </input>
            <output name="output2">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="cancelItinerary">
            <soap:operation/>
            <input name="input3">
                <soap:body use="literal"/>
            </input>
            <output name="output3">
                <soap:body use="literal"/>
            </output>
            <fault name="fault1">
                <soap:fault name="fault1" use="literal"/>
            </fault>
        </operation>
        <operation name="bookItinerary">
            <soap:operation/>
            <input name="input4">
                <soap:body use="literal"/>
            </input>
            <output name="output4">
                <soap:body use="literal"/>
            </output>
            <fault name="fault1">
                <soap:fault name="fault1" use="literal"/>
            </fault>
        </operation>
        <operation name="cancelBooking">
            <soap:operation/>
            <input name="input5">
                <soap:body use="literal"/>
            </input>
            <output name="output5">
                <soap:body use="literal"/>
            </output>
            <fault name="fault1">
                <soap:fault name="fault1" use="literal"/>
            </fault>
        </operation>
        <operation name="addItineraryFlight">
            <soap:operation/>
            <input name="input6">
                <soap:body use="literal"/>
            </input>
            <output name="output6">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="addItineraryHotel">
            <soap:operation/>
            <input name="input7">
                <soap:body use="literal"/>
            </input>
            <output name="output7">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getHotels">
            <soap:operation/>
            <input name="input8">
                <soap:body use="literal"/>
            </input>
            <output name="output8">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getFlights">
            <soap:operation/>
            <input name="input9">
                <soap:body use="literal"/>
            </input>
            <output name="output9">
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="TravelGoodBPELService">
        <port name="TravelGoodBPELPortTypeBindingPort" binding="tns:TravelGoodBPELPortTypeBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/service"/>
        </port>
    </service>
    <plnk:partnerLinkType name="TravelGoodBPEL">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="TravelGoodBPELPortTypeRole" portType="tns:TravelGoodBPELPortType"/>
    </plnk:partnerLinkType>
    <vprop:property name="itineraryID" type="tv:itineraryIDType"/>
    <vprop:propertyAlias propertyName="tns:itineraryID" messageType="tns:createItineraryRequest" part="part1"/>
    <vprop:propertyAlias propertyName="tns:itineraryID" messageType="tns:getItineraryRequest" part="part1"/>
    <vprop:propertyAlias propertyName="tns:itineraryID" messageType="tns:addItineraryFlightRequest" part="part1">
        <vprop:query>tv:itineraryId</vprop:query>
    </vprop:propertyAlias>
    <vprop:propertyAlias propertyName="tns:itineraryID" messageType="tns:addItineraryHotelRequest" part="part1">
        <vprop:query>tv:itineraryId</vprop:query>
    </vprop:propertyAlias>
    <vprop:propertyAlias propertyName="tns:itineraryID" messageType="tns:createItineraryResponse" part="part1"/>
    <vprop:propertyAlias propertyName="tns:itineraryID" messageType="tns:getHotelsRequest" part="part1">
        <vprop:query>tv:itineraryId</vprop:query>
    </vprop:propertyAlias>
    <vprop:propertyAlias propertyName="tns:itineraryID" messageType="tns:getFlightsRequest" part="part1">
        <vprop:query>tv:itineraryId</vprop:query>
    </vprop:propertyAlias>
    <vprop:propertyAlias propertyName="tns:itineraryID" messageType="tns:bookItineraryRequest" part="part1">
        <vprop:query>tv:itineraryId</vprop:query>
    </vprop:propertyAlias>
</definitions>
