TravelGoodBPEL/src/TravelGoodBPEL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="TravelGoodBPEL" targetNamespace="urn://TravelGoodBPEL"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:tns="urn://TravelGoodBPEL" 
    xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
    xmlns:tv="TravelGoodSchema.ws">    
    <types>
        <xsd:schema targetNamespace="urn://TravelGoodBPEL">
            <xsd:import schemaLocation="TravelGoodSchema.xsd" namespace="TravelGoodSchema.ws"/>
        </xsd:schema>
    </types>
    <message name="createItineraryRequest">
        <part name="part1" type="xsd:string"/>
    </message>
    <message name="createItineraryResponse">
        <part name="part1" type="xsd:string"/>
    </message>
    <message name="getItineraryRequest">
        <part name="part1" type="xsd:string"/>
    </message>
    <message name="getItineraryResponse">
        <part name="part1" type="xsd:string"/>
    </message>
    <message name="cancelItineraryRequest">
        <part name="part1" type="xsd:string"/>
    </message>
    <message name="cancelItineraryResponse">
        <part name="part1" type="xsd:string"/>
    </message>
    <message name="cancelItineraryFault">
        <part name="fault_message" type="xsd:string"/>
    </message>
    <message name="bookItineraryRequest">
        <part name="part1" type="xsd:string"/>
    </message>
    <message name="bookItineraryResponse">
        <part name="part1" type="xsd:string"/>
    </message>
    <message name="bookItineraryFault">
        <part name="fault_message" type="xsd:string"/>
    </message>
    <message name="cancelBookingRequest">
        <part name="part1" type="xsd:string"/>
    </message>
    <message name="cancelBookingResponse">
        <part name="part1" type="xsd:string"/>
    </message>
    <message name="cancelBookingFault">
        <part name="fault_message" type="xsd:string"/>
    </message>
    <message name="addItineraryFlightRequest">
        <part name="part1" type="xsd:string"/>
    </message>
    <message name="addItineraryFlightResponse">
        <part name="part1" type="xsd:string"/>
    </message>
    <message name="addItineraryHotelRequest">
        <part name="part1" type="xsd:string"/>
    </message>
    <message name="addItineraryHotelResponse">
        <part name="part1" type="xsd:string"/>
    </message>
    <portType name="TravelGoodBPELPortType">
        <operation name="createItinerary">
            <input name="input1" message="tns:createItineraryRequest"/>
            <output name="output1" message="tns:createItineraryResponse"/>
        </operation>
        <operation name="getItinerary">
            <input name="input2" message="tns:getItineraryRequest"/>
            <output name="output2" message="tns:getItineraryResponse"/>
        </operation>
        <operation name="cancelItinerary">
            <input name="input3" message="tns:cancelItineraryRequest"/>
            <output name="output3" message="tns:cancelItineraryResponse"/>
            <fault name="fault1" message="tns:cancelItineraryFault"/>
        </operation>
        <operation name="bookItinerary">
            <input name="input4" message="tns:bookItineraryRequest"/>
            <output name="output4" message="tns:bookItineraryResponse"/>
            <fault name="fault1" message="tns:bookItineraryFault"/>
        </operation>
        <operation name="cancelBooking">
            <input name="input5" message="tns:cancelBookingRequest"/>
            <output name="output5" message="tns:cancelBookingResponse"/>
            <fault name="fault1" message="tns:cancelBookingFault"/>
        </operation>
        <operation name="addItineraryFlight">
            <input name="input6" message="tns:addItineraryFlightRequest"/>
            <output name="output6" message="tns:addItineraryFlightResponse"/>
        </operation>
        <operation name="addItineraryHotel">
            <input name="input7" message="tns:addItineraryHotelRequest"/>
            <output name="output7" message="tns:addItineraryHotelResponse"/>
        </operation>
    </portType>
    <plnk:partnerLinkType name="TravelGoodBPEL">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="TravelGoodBPELPortTypeRole" portType="tns:TravelGoodBPELPortType"/>
    </plnk:partnerLinkType>
</definitions>
