TravelGoodBPEL/src/TravelGoodBPELWSDL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="TravelGoodBPELWSDL" targetNamespace="http://TravelGoodBPELWSDL.ws"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://TravelGoodBPELWSDL.ws" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:ns0="http://LameDuck.ws" xmlns:ns1="http://NiceView.ws">
    <types>
        <xsd:schema targetNamespace="http://TravelGoodBPELWSDL.ws" xmlns:tns="http://TravelGoodBPELWSDL.ws">
            <xsd:complexType name="ItineraryType">
                <xsd:sequence>
                    <xsd:element name="itineraryID" type="xsd:string"></xsd:element>
                    <xsd:element name="itineraryStatus" type="xsd:string"></xsd:element>
                    <xsd:element name="customerID" type="xsd:string"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ItineraryFaultType">
                <xsd:sequence>
                    <xsd:element name="fault_message" type="xsd:string"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="ItineraryFault" type="tns:ItineraryFaultType"></xsd:element>
        </xsd:schema>
    </types>
    <portType name="TravelGoodBPELWSDLPortType">
        <operation name="TravelGoodBPELWSDLOperation">
            <input name="input1" message="tns:TravelGoodBPELWSDLOperationRequest"/>
            <output name="output1" message="tns:TravelGoodBPELWSDLOperationResponse"/>
        </operation>
    </portType>
    <plnk:partnerLinkType name="TravelGoodBPELWSDL">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="TravelGoodBPELWSDLPortTypeRole" portType="tns:TravelGoodBPELWSDLPortType"/>
    </plnk:partnerLinkType>
</definitions>
