TravelGoodBPEL/src/TravelGoodSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="TravelGoodSchema.ws"
    xmlns:tns="TravelGoodSchema.ws"
    elementFormDefault="qualified" xmlns:ns0="urn:LameDuckSchema">
    <xsd:import schemaLocation="LameDuck/LameDuckSchema.xsd" namespace="urn:LameDuckSchema"/>
    <xsd:complexType name="ItineraryInfoType">
        <xsd:sequence>
            <xsd:element name="itineraryID" type="xsd:string"></xsd:element>
            <xsd:element name="itineraryStatus" type="xsd:string"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ItineraryBookingFlightType">
        <xsd:sequence>
            <xsd:element name="bookingStatus" type="xsd:string"></xsd:element>
            <xsd:element name="FlightInfoList" type="ns0:FlightInfoType"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ItineraryBookingHotelType">
        <xsd:sequence>
            <xsd:element name="bookingStatus" type="xsd:string"></xsd:element>
            <xsd:element name="HotelInfoList"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ItineraryFaultType">
        <xsd:sequence>
            <xsd:element name="fault_message" type="xsd:string"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="ItineraryFault" type="tns:ItineraryFaultType"></xsd:element>
    <xsd:element name="Itinerary">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ItineraryInfo" type="tns:ItineraryInfoType"></xsd:element>
                <xsd:element name="ItineraryBookingFlightList" type="tns:ItineraryBookingFlightType" minOccurs="0" maxOccurs="unbounded"></xsd:element>
                <xsd:element name="ItineraryBookingHotelList" type="tns:ItineraryBookingHotelType" minOccurs="0" maxOccurs="unbounded"></xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:simpleType name="customerIDType">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:simpleType name="itineraryIDType">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
</xsd:schema>
