NiceView/src/conf/xml-resources/web-services/NiceViewWebService/wsdl/NiceView.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="NiceView" targetNamespace="http://NiceView.ws"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://NiceView.ws" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <types>
        <xsd:schema targetNamespace="http://NiceView.ws" xmlns:tns="http://NiceView.ws">
            <xsd:complexType name="HotelType">
                <xsd:sequence>
                    <xsd:element name="name" type="xsd:string"></xsd:element>
                    <xsd:element name="price" type="xsd:int"></xsd:element>
                    <xsd:element name="bookingNumber" type="xsd:string"></xsd:element>
                    <xsd:element name="cancellable" type="xsd:boolean"></xsd:element>
                    <xsd:element name="address" type="tns:AddressType"></xsd:element>
                    <xsd:element name="creditCardGuarentee" type="xsd:boolean"></xsd:element>
                    <xsd:element name="hotelReservationServiceName" type="xsd:string"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="AddressType">
                <xsd:sequence>
                    <xsd:element name="street" type="xsd:string"></xsd:element>
                    <xsd:element name="zipCode" type="xsd:string"></xsd:element>
                    <xsd:element name="city" type="xsd:string"></xsd:element>
                    <xsd:element name="country" type="xsd:string"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="HotelFaultType">
                <xsd:sequence>
                    <xsd:element name="message" type="xsd:string"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getHotelsRequest" type="tns:getHotels"></xsd:element>
            <xsd:complexType name="getHotels">
                <xsd:sequence>
                    <xsd:element name="city" type="xsd:string"></xsd:element>
                    <xsd:element name="arrivalDate" type="xsd:date"></xsd:element>
                    <xsd:element name="depatureDate" type="xsd:date"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getHotelsResponse" type="tns:getHotelsResponse"></xsd:element>
            <xsd:element name="bookHotelRequest" type="tns:bookHotel"></xsd:element>
            <xsd:complexType name="creditCardType">
                <xsd:sequence>
                    <xsd:element name="creditCardNumber" type="xsd:int"></xsd:element>
                    <xsd:element name="name" type="xsd:string"></xsd:element>
                    <xsd:element name="expirationDate">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="month" type="xsd:int"></xsd:element>
                                <xsd:element name="year" type="xsd:int"></xsd:element>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="bookHotelResponse" type="tns:bookHotelResponse"></xsd:element>
            <xsd:element name="cancelHotelRequest" type="tns:cancelHotel"></xsd:element>
            <xsd:element name="cancelHotelResponse" type="tns:cancelHotelResponse"></xsd:element>
            <xsd:element name="faultElement" type="tns:HotelFaultType"></xsd:element>
            <xsd:complexType name="bookHotel">
                <xsd:sequence>
                    <xsd:element name="creditCard" type="tns:creditCardType" minOccurs="0"></xsd:element>
                    <xsd:element name="bookingNumber" type="xsd:string"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="bookHotelResponse">
                <xsd:sequence>
                    <xsd:element name="response" type="xsd:boolean"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="cancelHotel">
                <xsd:sequence>
                    <xsd:element name="bookingNumber" type="xsd:string"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="cancelHotelResponse">
                <xsd:sequence>
                    <xsd:element name="response" type="xsd:boolean"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getHotelsResponse">
                <xsd:sequence>
                    <xsd:element name="hotels" type="tns:HotelType" maxOccurs="unbounded" minOccurs="0"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="getHotelsRequest">
        <part name="part1" element="tns:getHotelsRequest"/>
    </message>
    <message name="getHotelsResponse">
        <part name="part1" element="tns:getHotelsResponse"/>
    </message>
    <message name="bookHotelRequest">
        <part name="part1" element="tns:bookHotelRequest"/>
    </message>
    <message name="bookHotelResponse">
        <part name="part1" element="tns:bookHotelResponse"/>
    </message>
    <message name="bookHotelFault">
        <part name="part1" element="tns:faultElement"/>
    </message>
    <message name="cancelHotelRequest">
        <part name="part1" element="tns:cancelHotelRequest"/>
    </message>
    <message name="cancelHotelResponse">
        <part name="part1" element="tns:cancelHotelResponse"/>
    </message>
    <message name="cancelHotelFault">
        <part name="part1" element="tns:faultElement"/>
    </message>
    <portType name="NiceViewPortType">
        <operation name="getHotels">
            <input name="input1" message="tns:getHotelsRequest"/>
            <output name="output1" message="tns:getHotelsResponse"/>
        </operation>
        <operation name="bookHotel">
            <input name="input2" message="tns:bookHotelRequest"/>
            <output name="output2" message="tns:bookHotelResponse"/>
            <fault name="fault1" message="tns:bookHotelFault"/>
        </operation>
        <operation name="cancelHotel">
            <input name="input3" message="tns:cancelHotelRequest"/>
            <output name="output3" message="tns:cancelHotelResponse"/>
            <fault name="fault1" message="tns:cancelHotelFault"/>
        </operation>
    </portType>
    <binding name="NiceViewPortTypeBinding" type="tns:NiceViewPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getHotels">
            <soap:operation style="document"/>
            <input name="input1">
                <soap:body use="literal"/>
            </input>
            <output name="output1">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="bookHotel">
            <soap:operation style="document"/>
            <input name="input2">
                <soap:body use="literal"/>
            </input>
            <output name="output2">
                <soap:body use="literal"/>
            </output>
            <fault name="fault1">
                <soap:fault name="fault1" use="literal"/>
            </fault>
        </operation>
        <operation name="cancelHotel">
            <soap:operation style="document"/>
            <input name="input3">
                <soap:body use="literal"/>
            </input>
            <output name="output3">
                <soap:body use="literal"/>
            </output>
            <fault name="fault1">
                <soap:fault name="fault1" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="NiceViewService">
        <port name="NiceViewPortTypeBindingPort" binding="tns:NiceViewPortTypeBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/service"/>
        </port>
    </service>
</definitions>
