NiceView/src/java/NiceView.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="NiceView" targetNamespace="http://NiceView.ws"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:tns="http://NiceView.ws" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:ns1="urn:NiceViewSchema">
    <types>
        <xsd:schema targetNamespace="http://NiceView.ws">
            <xsd:import namespace="urn:NiceViewSchema" schemaLocation="NiceViewTypes.xsd"/>
        </xsd:schema>
    </types>
    <message name="getHotelsRequest">
        <part name="part1" element="ns1:getHotelsRequest"/>
    </message>
    <message name="getHotelsResponse">
        <part name="part1" element="ns1:getHotelsResponse"/>
    </message>
    <message name="bookHotelRequest">
        <part name="part1" element="ns1:bookHotelRequest"/>
    </message>
    <message name="bookHotelResponse">
        <part name="part1" element="ns1:bookHotelResponse"/>
    </message>
    <message name="bookHotelFault">
        <part name="part1" element="ns1:faultElement"/>
    </message>
    <message name="cancelHotelRequest">
        <part name="part1" element="ns1:cancelHotelRequest"/>
    </message>
    <message name="cancelHotelResponse">
        <part name="part1" element="ns1:cancelHotelResponse"/>
    </message>
    <message name="cancelHotelFault">
        <part name="part1" element="ns1:faultElement"/>
    </message>
    <portType name="NiceViewPortType">
        <operation name="getHotels">
            <input name="input1" message="tns:getHotelsRequest"/>
            <output name="output1" message="tns:getHotelsResponse"/>
        </operation>
        <operation name="bookHotel">
            <input name="input2" message="tns:bookHotelRequest"/>
            <output name="output2" message="tns:bookHotelResponse"/>
            <fault name="fault1" message="tns:bookHotelFault"/>
        </operation>
        <operation name="cancelHotel">
            <input name="input3" message="tns:cancelHotelRequest"/>
            <output name="output3" message="tns:cancelHotelResponse"/>
            <fault name="fault1" message="tns:cancelHotelFault"/>
        </operation>
    </portType>
    <binding name="NiceViewPortTypeBinding" type="tns:NiceViewPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getHotels">
            <soap:operation style="document"/>
            <input name="input1">
                <soap:body use="literal"/>
            </input>
            <output name="output1">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="bookHotel">
            <soap:operation style="document"/>
            <input name="input2">
                <soap:body use="literal"/>
            </input>
            <output name="output2">
                <soap:body use="literal"/>
            </output>
            <fault name="fault1">
                <soap:fault name="fault1" use="literal"/>
            </fault>
        </operation>
        <operation name="cancelHotel">
            <soap:operation style="document"/>
            <input name="input3">
                <soap:body use="literal"/>
            </input>
            <output name="output3">
                <soap:body use="literal"/>
            </output>
            <fault name="fault1">
                <soap:fault name="fault1" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="NiceViewService">
        <port name="NiceViewPortTypeBindingPort" binding="tns:NiceViewPortTypeBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/service"/>
        </port>
    </service>
</definitions>
