TravelGoodBPEL/src/localhost_8080/NiceView/NiceViewService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://NiceView.ws" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="urn:NiceViewSchema" name="NiceView" targetNamespace="http://NiceView.ws">
    <types>
        <xsd:schema targetNamespace="http://NiceView.ws">
            <xsd:import namespace="urn:NiceViewSchema" schemaLocation="http://localhost:8080/NiceView/NiceViewService?xsd=1"/>
        </xsd:schema>
    </types>
    <message name="getHotelsRequest">
        <part name="part1" element="ns1:getHotelsRequest"/>
    </message>
    <message name="getHotelsResponse">
        <part name="part1" element="ns1:getHotelsResponse"/>
    </message>
    <message name="bookHotelRequest">
        <part name="part1" element="ns1:bookHotelRequest"/>
    </message>
    <message name="bookHotelResponse">
        <part name="part1" element="ns1:bookHotelResponse"/>
    </message>
    <message name="bookHotelFault">
        <part name="part1" element="ns1:faultElement"/>
    </message>
    <message name="cancelHotelRequest">
        <part name="part1" element="ns1:cancelHotelRequest"/>
    </message>
    <message name="cancelHotelResponse">
        <part name="part1" element="ns1:cancelHotelResponse"/>
    </message>
    <message name="cancelHotelFault">
        <part name="part1" element="ns1:faultElement"/>
    </message>
    <portType name="NiceViewPortType">
        <operation name="getHotels">
            <input name="input1" message="tns:getHotelsRequest"/>
            <output name="output1" message="tns:getHotelsResponse"/>
        </operation>
        <operation name="bookHotel">
            <input name="input2" message="tns:bookHotelRequest"/>
            <output name="output2" message="tns:bookHotelResponse"/>
            <fault name="fault1" message="tns:bookHotelFault"/>
        </operation>
        <operation name="cancelHotel">
            <input name="input3" message="tns:cancelHotelRequest"/>
            <output name="output3" message="tns:cancelHotelResponse"/>
            <fault name="fault1" message="tns:cancelHotelFault"/>
        </operation>
    </portType>
    <binding name="NiceViewPortTypeBinding" type="tns:NiceViewPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getHotels">
            <soap:operation style="document"/>
            <input name="input1">
                <soap:body use="literal"/>
            </input>
            <output name="output1">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="bookHotel">
            <soap:operation style="document"/>
            <input name="input2">
                <soap:body use="literal"/>
            </input>
            <output name="output2">
                <soap:body use="literal"/>
            </output>
            <fault name="fault1">
                <soap:fault name="fault1" use="literal"/>
            </fault>
        </operation>
        <operation name="cancelHotel">
            <soap:operation style="document"/>
            <input name="input3">
                <soap:body use="literal"/>
            </input>
            <output name="output3">
                <soap:body use="literal"/>
            </output>
            <fault name="fault1">
                <soap:fault name="fault1" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="NiceViewService">
        <port name="NiceViewPortTypeBindingPort" binding="tns:NiceViewPortTypeBinding">
            <soap:address location="http://localhost:8080/NiceView/NiceViewService"/>
        </port>
    </service>
</definitions>