LameDuckClient/xml-resources/web-service-references/LameDuck/wsdl/LameDuckSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="urn:LameDuckSchema"
    xmlns:tns="urn:LameDuckSchema"
    elementFormDefault="qualified" xmlns:ns0="http://types.fastmoney.imm.dtu.dk">
    <xsd:import namespace="http://types.fastmoney.imm.dtu.dk" schemaLocation="http://fastmoney.imm.dtu.dk:8080/BankService?xsd=1"/>
    <xsd:complexType name="FlightFaultType">
        <xsd:sequence>
            <xsd:element name="fault_message" type="xsd:string"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="FlightInfoType">
        <xsd:sequence>
            <xsd:element name="bookingNumber" type="xsd:string"></xsd:element>
            <xsd:element name="flightPrice" type="xsd:int"></xsd:element>
            <xsd:element name="airlineReservationServiceName" type="xsd:string"></xsd:element>
            <xsd:element name="flight" type="tns:FlightType"></xsd:element>
            <xsd:element name="cancellable" type="xsd:boolean"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="FlightType">
        <xsd:sequence>
            <xsd:element name="startAirport" type="xsd:string"></xsd:element>
            <xsd:element name="destinationAirport" type="xsd:string"></xsd:element>
            <xsd:element name="liftoffDate" type="xsd:date"></xsd:element>
            <xsd:element name="landingDate" type="xsd:date"></xsd:element>
            <xsd:element name="carrierName" type="xsd:string"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="FlightFault" type="tns:FlightFaultType"></xsd:element>
    <xsd:element name="bookFlightRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="bookingNumber" type="xsd:string"></xsd:element>
                <xsd:element name="CreditCardInfo" type="ns0:creditCardInfoType"></xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="bookFlightResponse" type="xsd:boolean"></xsd:element>
    <xsd:element name="cancelFlightRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="bookingNumber" type="xsd:string"></xsd:element>
                <xsd:element name="price" type="xsd:int"></xsd:element>
                <xsd:element name="CreditCardInfo" type="ns0:creditCardInfoType"></xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="cancelFlightResponse" type="xsd:boolean"></xsd:element>
    <xsd:element name="getFlightsRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="startDestination" type="xsd:string"></xsd:element>
                <xsd:element name="finalDestination" type="xsd:string"></xsd:element>
                <xsd:element name="dateFlight" type="xsd:date"></xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="getFlightsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="FlightInfoList" type="tns:FlightInfoType" maxOccurs="unbounded" minOccurs="0"></xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="resetFlightsRequest" type="xsd:boolean"></xsd:element>
    <xsd:element name="resetFlightsResponse" type="xsd:boolean"></xsd:element>
</xsd:schema>
