TravelGoodBPELClient/src/META-INF/wsdl/10.16.174.235_9080/TravelGoodBPELApp-sun-http-binding/TravelGoodBPEL2/TravelGoodSchema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:ns0="urn:LameDuckSchema" xmlns:ns1="urn:NiceViewSchema" xmlns:tns="TravelGoodSchema.ws" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="TravelGoodSchema.ws">
    <xsd:import namespace="urn:NiceViewSchema" schemaLocation="http://localhost:8080/NiceView/NiceViewService?xsd=1"/>
    <xsd:import namespace="urn:LameDuckSchema" schemaLocation="http://localhost:8080/LameDuck/LameDuckService?xsd=1"/>
    <xsd:complexType name="ItineraryInfoType">
        <xsd:sequence>
            <xsd:element name="itineraryID" type="xsd:string"/>
            <xsd:element name="itineraryStatus" type="tns:bookingStatus"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ItineraryBookingFlightType">
        <xsd:sequence>
            <xsd:element name="bookingStatus" type="tns:bookingStatus"/>
            <xsd:element name="FlightInfoList" type="ns0:FlightInfoType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ItineraryBookingHotelType">
        <xsd:sequence>
            <xsd:element name="bookingStatus" type="tns:bookingStatus"/>
            <xsd:element name="HotelInfoList" type="ns1:HotelReservationType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ItineraryFaultType">
        <xsd:sequence>
            <xsd:element name="fault_message" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="ItineraryFault" type="tns:ItineraryFaultType"/>
    <xsd:element name="Itinerary">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ItineraryInfo" type="tns:ItineraryInfoType"/>
                <xsd:element maxOccurs="unbounded" minOccurs="0" name="ItineraryBookingFlightList" type="tns:ItineraryBookingFlightType"/>
                <xsd:element maxOccurs="unbounded" minOccurs="0" name="ItineraryBookingHotelList" type="tns:ItineraryBookingHotelType"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:simpleType name="customerIDType">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:simpleType name="itineraryIDType">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:simpleType name="bookingStatus">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="unconfirmed"/>
            <xsd:enumeration value="confirmed"/>
            <xsd:enumeration value="cancelled"/>
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>
