BPELHelperServiceClient/xml-resources/web-service-references/HelperServiceService/wsdl/localhost_8080/BPELHelperService/HelperServiceService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://j2ee.netbeans.org/wsdl/BPELHelperService/java/HelperService" xmlns:ns0="urn:LameDuckSchema" xmlns:ns1="urn:NiceViewSchema" xmlns:ns2="http://types.fastmoney.imm.dtu.dk" xmlns:ns3="urn:NiceViewSchema" xmlns:ns4="urn:LameDuckSchema" xmlns:ns5="http://types.fastmoney.imm.dtu.dk" xmlns:ns="TravelGoodSchema.ws" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="HelperService" targetNamespace="http://j2ee.netbeans.org/wsdl/BPELHelperService/java/HelperService">
    <types>
        <xsd:schema xmlns:ns0="TravelGoodSchema.ws" xmlns:ns4="urn:LameDuckSchema" targetNamespace="http://j2ee.netbeans.org/wsdl/BPELHelperService/java/HelperService">
            <xsd:import schemaLocation="http://localhost:8080/NiceView/NiceViewService?xsd=1" namespace="urn:NiceViewSchema"/>
            <xsd:import schemaLocation="http://localhost:8080/LameDuck/LameDuckService?xsd=1" namespace="urn:LameDuckSchema"/>
            <xsd:import schemaLocation="http://fastmoney.imm.dtu.dk:8080/BankServiceTypes.xsd" namespace="http://types.fastmoney.imm.dtu.dk"/>
            <xsd:import schemaLocation="http://10.16.165.77:9080/TravelGoodBPELApp-sun-http-binding/TravelGoodBPEL/TravelGoodSchema.xsd" namespace="TravelGoodSchema.ws"/>
            <xsd:element name="itineraryId" type="ns0:itineraryIDType"/>
            <xsd:element name="putFlightRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="itineraryID" type="ns0:itineraryIDType"/>
                        <xsd:element name="bookingNumber" type="xsd:string"/>
                        <xsd:element name="bookingStatus" type="ns0:bookingStatus"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="putFlightResponse" type="xsd:boolean"/>
            <xsd:element name="putHotelRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="bookingStatus" type="ns0:bookingStatus"/>
                        <xsd:element name="bookingNumber" type="xsd:string"/>
                        <xsd:element name="itineraryID" type="ns0:itineraryIDType"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="putHotelResponse" type="xsd:boolean"/>
            <xsd:element name="addBookingIds">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="itineraryID" type="ns0:itineraryIDType"/>
                        <xsd:element name="hotelInfo" type="ns1:HotelReservationType" maxOccurs="unbounded" minOccurs="0"/>
                        <xsd:element name="flighstInfo" type="ns4:FlightInfoType" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="createItineraryRequest" type="ns0:itineraryIDType"/>
            <xsd:element name="getItineraryRequest" type="ns0:itineraryIDType"/>
            <xsd:element name="createItineraryResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="ns0:Itinerary"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getItineraryResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="ns0:Itinerary"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>
    <message name="getItineraryRequest">
        <part name="part1" element="tns:getItineraryRequest"/>
    </message>
    <message name="getItineraryResponse">
        <part name="part1" element="tns:getItineraryResponse"/>
    </message>
    <message name="putFlightRequest">
        <part name="part1" element="tns:putFlightRequest"/>
    </message>
    <message name="putFlightResponse">
        <part name="part1" element="tns:putFlightResponse"/>
    </message>
    <message name="putHotelRequest">
        <part name="part1" element="tns:putHotelRequest"/>
    </message>
    <message name="putHotelResponse">
        <part name="part1" element="tns:putHotelResponse"/>
    </message>
    <message name="addBookingNumbersRequest">
        <part name="part1" element="tns:addBookingIds"/>
    </message>
    <message name="addBookingNumbersResponse">
        <part name="part1" element="tns:putHotelResponse"/>
    </message>
    <message name="createItineraryRequest">
        <part name="part1" element="tns:createItineraryRequest"/>
    </message>
    <message name="createItineraryResponse">
        <part name="part1" element="tns:createItineraryResponse"/>
    </message>
    <portType name="HelperServicePortType">
        <operation name="getItinerary">
            <input name="input1" message="tns:getItineraryRequest"/>
            <output name="output1" message="tns:getItineraryResponse"/>
        </operation>
        <operation name="createItinerary">
            <input name="input2" message="tns:createItineraryRequest"/>
            <output name="output2" message="tns:createItineraryResponse"/>
        </operation>
        <operation name="putFlight">
            <input name="input3" message="tns:putFlightRequest"/>
            <output name="output3" message="tns:putFlightResponse"/>
        </operation>
        <operation name="putHotel">
            <input name="input4" message="tns:putHotelRequest"/>
            <output name="output4" message="tns:putHotelResponse"/>
        </operation>
        <operation name="addBookingsNumbers">
            <input name="input5" message="tns:addBookingNumbersRequest"/>
            <output name="output5" message="tns:addBookingNumbersResponse"/>
        </operation>
    </portType>
    <binding name="HelperServicePortTypeBinding" type="tns:HelperServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getItinerary">
            <soap:operation style="document"/>
            <input name="input1">
                <soap:body use="literal"/>
            </input>
            <output name="output1">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="createItinerary">
            <soap:operation style="document"/>
            <input name="input2">
                <soap:body use="literal"/>
            </input>
            <output name="output2">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="putFlight">
            <soap:operation style="document"/>
            <input name="input3">
                <soap:body use="literal"/>
            </input>
            <output name="output3">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="putHotel">
            <soap:operation style="document"/>
            <input name="input4">
                <soap:body use="literal"/>
            </input>
            <output name="output4">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="addBookingsNumbers">
            <soap:operation style="document"/>
            <input name="input5">
                <soap:body use="literal"/>
            </input>
            <output name="output5">
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="HelperServiceService">
        <port name="HelperServicePortTypeBindingPort" binding="tns:HelperServicePortTypeBinding">
            <soap:address location="http://localhost:8080/BPELHelperService/HelperServiceService"/>
        </port>
    </service>
    <plnk:partnerLinkType name="HelperService">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="HelperServicePortTypeRole" portType="tns:HelperServicePortType"/>
    </plnk:partnerLinkType>
</definitions>