TravelGoodREST/src/conf/xml-resources/web-service-references/LameDuckWSDLService/wsdl/gslaptop_8080/LameDuck/LameDuckWSDLService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://LameDuck.ws" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="LameDuckWSDL" targetNamespace="http://LameDuck.ws">
    <types>
        <xsd:schema xmlns:tns="http://LameDuck.ws" xmlns:ns1="http://types.fastmoney.imm.dtu.dk" targetNamespace="http://LameDuck.ws">
            <xsd:import schemaLocation="http://fastmoney.imm.dtu.dk:8080/BankServiceTypes.xsd" namespace="http://types.fastmoney.imm.dtu.dk"/>
            <xsd:complexType name="FlightInfoType">
                <xsd:sequence minOccurs="1" maxOccurs="1">
                    <xsd:element name="bookingNumber" type="xsd:string"/>
                    <xsd:element name="flightPrice" type="xsd:int"/>
                    <xsd:element name="airlineReservationServiceName" type="xsd:string"/>
                    <xsd:element name="flight" type="tns:FlightType"/>
                    <xsd:element name="cancellable" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="FlightType">
                <xsd:sequence>
                    <xsd:element name="startAirport" type="xsd:string"/>
                    <xsd:element name="destinationAirport" type="xsd:string"/>
                    <xsd:element name="liftoffDate" type="xsd:date"/>
                    <xsd:element name="landingDate" type="xsd:date"/>
                    <xsd:element name="carrierName" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="FlightFaultType">
                <xsd:sequence>
                    <xsd:element name="fault_message" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="FlightFault" type="tns:FlightFaultType"/>
            <xsd:element name="getFlightsRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="startDestination" type="xsd:string"/>
                        <xsd:element name="finalDestination" type="xsd:string"/>
                        <xsd:element name="dateFlight" type="xsd:date"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="bookFlightRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="bookingNumber" type="xsd:string"/>
                        <xsd:element name="CreditCardInfo" type="ns1:creditCardInfoType"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="cancelFlightRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="bookingNumber" type="xsd:string"/>
                        <xsd:element name="price" type="xsd:int"/>
                        <xsd:element name="CreditCardInfo" type="ns1:creditCardInfoType"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="bookFlightResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="response" type="xsd:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="cancelFlightResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="response" type="xsd:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getFlightsResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="FlightInfoList" type="tns:FlightInfoType" maxOccurs="unbounded" minOccurs="0"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>
    <message name="getFlightsRequest">
        <part name="request" element="tns:getFlightsRequest"/>
    </message>
    <message name="getFlightsResponse">
        <part name="response" element="tns:getFlightsResponse"/>
    </message>
    <message name="bookFlightRequest">
        <part name="request" element="tns:bookFlightRequest"/>
    </message>
    <message name="bookFlightResponse">
        <part name="response" element="tns:bookFlightResponse"/>
    </message>
    <message name="bookFlightFault">
        <part name="fault_message" element="tns:FlightFault"/>
    </message>
    <message name="cancelFlightRequest">
        <part name="request" element="tns:cancelFlightRequest"/>
    </message>
    <message name="cancelFlightResponse">
        <part name="response" element="tns:cancelFlightResponse"/>
    </message>
    <message name="cancelFlightFault">
        <part name="fault_message" element="tns:FlightFault"/>
    </message>
    <portType name="LameDuck">
        <operation name="getFlights">
            <input name="input1" message="tns:getFlightsRequest"/>
            <output name="output1" message="tns:getFlightsResponse"/>
        </operation>
        <operation name="bookFlight">
            <input name="input2" message="tns:bookFlightRequest"/>
            <output name="output2" message="tns:bookFlightResponse"/>
            <fault name="fault1" message="tns:bookFlightFault"/>
        </operation>
        <operation name="cancelFlight">
            <input name="input3" message="tns:cancelFlightRequest"/>
            <output name="output3" message="tns:cancelFlightResponse"/>
            <fault name="fault1" message="tns:cancelFlightFault"/>
        </operation>
    </portType>
    <binding name="LameDuckBinding" type="tns:LameDuck">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getFlights">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal"/>
            </input>
            <output name="output1">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="bookFlight">
            <soap:operation/>
            <input name="input2">
                <soap:body use="literal"/>
            </input>
            <output name="output2">
                <soap:body use="literal"/>
            </output>
            <fault name="fault1">
                <soap:fault name="fault1" use="literal"/>
            </fault>
        </operation>
        <operation name="cancelFlight">
            <soap:operation/>
            <input name="input3">
                <soap:body use="literal"/>
            </input>
            <output name="output3">
                <soap:body use="literal"/>
            </output>
            <fault name="fault1">
                <soap:fault name="fault1" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="LameDuckWSDLService">
        <port name="LameDuckBindingPort" binding="tns:LameDuckBinding">
            <soap:address location="http://gslaptop:8080/LameDuck/LameDuckWSDLService"/>
        </port>
    </service>
</definitions>